.locate-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.stock{
    margin-right: 10px;
}

.mt-2{
    margin-top: 20px;
}

.form-container{
    padding:20px
}

.mr-1{
    margin-right: 10px;
}

.upload-image{
    max-width: 458px;
    width:100%
}

.display-center{
    display: flex;
    justify-content: center;
}

.error-message{
    color: red;
    padding-right: 10px;
}

.warning-message{
    color: red;
}