body{
  font-family: sans-serif;
  background-color: #f7f6f6
}

.nav-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.nav-header .nav-function {
  margin-right: 20px;
}

.nav-function span{
  margin-left: 10px;
}

.menu{
  display: flex;
  list-style-type: none;
  padding: 20px;
}

.menu li a{
  text-decoration: none;
  color:black;
  margin-left:20px;
}

.nav-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-menu-area{
  display: flex;
  justify-content: center;
}

.burger-menu{
  margin-left: 20px;
  visibility: hidden;
}

.sidebar{
  max-width: 500px;
}

.search-box input{
  border:none;
  background-color: transparent;
}

.search-box input:focus {
  outline:none
}

.main-search-box{
  left: 13%;
  position: absolute;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.main-search-box .search-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-search-box .search-box input {
  height: 30px;
  width: 100%;
  font-size: 16px;
  color: white;
}

.main-search-box input::placeholder {
  color: rgb(255, 255, 255); /* placeholder의 색상을 검정색으로 설정 */
  padding-left: 22%;
}

.main-search-box .search-icon {
  color: white
}

.admin-search-box{
  border-bottom: 1px solid rgb(0, 0, 0);
}

.admin-search-box input {
  margin-left:5px;
  padding: 5px;
}

.card{
  background-color: #f7f6f6;
  border:none;
  margin-bottom: 10px;
}

.card div {
  padding: 7px;
}

.choice{
  font-size:11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.spinner-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-message{
  text-align: left;
  width: 100%;
}

.error-message{
  text-align: center;
  width: 100%; 
}

.form-control:valid {
  background-color:  white !important;
}

.drop-down{
  margin-top:20px;
  margin-bottom:10px;
}

.add-button{
  margin-top:10px;
  width: 100%;
}

.card .product-name {
  height: 50px;
}

.card:hover{
  transform: scale(1.04);
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.6);  
  transition: opacity 1.5s ease, visibility 1.5s ease;  
  opacity: 0;  
  visibility: hidden;  
}

.overlay-show { 
  opacity: 1;
  visibility: visible;
}

.side-menu {
  height: 100%;
  position: fixed;
  z-index:5;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow:  rgba(169, 169, 169, 0.25) 0px 2px 5px -1px, rgba(156, 156, 156, 0.3) 0px 1px 3px -1px;
}

.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
  color: white
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
  color: white;
}

.side-menu-list {
  display: none;
}

.side-menu-list button:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  color: black;
} 

.sidebar-item{
  color:black;
  font-weight: bold;
  padding: 20px 10px;
  list-style-type: none;
}

.sidebar-item:hover{
  color:white;
  background-color: red;
  font-weight: bold;
}

.sidebar-area{
  padding-left: 0;
}

.sidebar{
  max-width: 300px;
  padding:20px;
  background-color: rgb(248,249,250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 40px;
}

.mobile-sidebar-toggle{
  display:none;
}

@media screen and (max-width: 63rem) {
  .burger-menu{
    visibility:visible;
  }
  .nav-menu-area  {
    display: none;
  }
  .nav-function:last-child{
    margin-right: 0px;
  }
  .nav-header{
    margin-top: 20px;
    margin-bottom:10px;
  }
  .nav-logo{
    margin-bottom: 0px;
  }
  .sidebar-toggle{
    display: none;
  }
  .mobile-sidebar-toggle{
    display:block;
  }
  .sidebar{
    max-width: 100%;
    padding:0px;
  }
  .mobile-sidebar{
    max-height: 104px;
  }

  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
  }

}

@media screen and (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }
}

.display-flex{
  display:flex;
  align-items: center;
}

.admin-layout{
  display: flex;
}

.link-area{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.login-false {
  margin-top:14%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}